<body bgcolor="gray" >
<center>
<h1> <font color ="yellow">My applications</font></h1><hr/>
1.<a href ="http://thridapp.heroku.com/"><font color="white">Articles</font></a><br/>
2.<a href ="http://yourarticles.heroku.com/"><font color="white">Assocaitions</font></a><br/>
3.<a href ="http://railsfirst.heroku.com/"><font color="white">Myfirstapplication</font></a><br/>
4.<a href ="http://mytemplate.heroku.com/"><font color="white">Mytemplate</font></a>
</body>
